@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    scroll-padding:8rem;
}
body{
    padding-top: 7.75rem;
}
/* Estilo de flechas slider */
.slick-prev::before, .slick-next::before{
    color: #5D6970;
}
.slick-prev.slick-disabled:before{
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .slick-prev::before,
    .slick-next::before {
        display: none;
    }
    body{
        padding-top: 5.75rem;
    }
    html{
        scroll-padding:5.75rem;
    }
}
/* Animación de menú */
.blur-in-expand{animation:blur-in-expand 0.4s linear both}
@keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}