@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo de flechas slider */
.slick-prev::before, .slick-next::before{
    color: #5D6970;
}
.slick-prev.slick-disabled:before{
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .slick-prev::before,
    .slick-next::before {
        display: none;
    }
}
/* Animación de menú */
.blur-in-expand{animation:blur-in-expand 0.4s linear both}
@keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}